body {
    background-color: RGB(245,222,179);
    border: none;
}

#name {
    font-style: italic;
}

#description {
    display: inline-block;
    width:17vw;
    padding-left: 2vw;
    text-align: justify;
}

.nacionalidade {
    text-decoration:underline;
}

.cidade {
    text-decoration: underline;
}

#image {
    width: 16.25vw;
    padding: 3px 3px 0.1px;
    background-color: RGB(222,184,135);
    margin-bottom: 0.5vh;
}
    

.ímpar {
    font-style: italic;
}

.list {
    position: absolute;
    top:5vw
}

.list#links {
    top: 32vw;
    left: 1.5vw;
}

.list#skills {
    top: 37vw;
    left: 1.5vw;
}